---
layout: default
title: modal_soul debriefing
---

<div class="posts">
<!-- <h1>{{ page.title }}</h1> -->
<img src="/img/header.png">
<ul>
{% for post in site.posts limit:14 %}
    <li><span>{{ post.date | date_to_string }}</span>&nbsp;&raquo;&nbsp;<a href="{{ post.url }}">{{ post.title }}</a></li>
{% endfor %}

{% for post in site.posts limit:14 %}
    <li><span>{{ post.date | date_to_string }}</span>&nbsp;&raquo;&nbsp;<a href="{{ post.url }}">{{ post.title }}</a></li>
    <li><a href="{{ post.url }}"><img src='http://capture.heartrails.com/200x100/cool/shorten?http://modalsoul.github.com/{{ post.url }}'></a></li>
{% endfor %}

</ul>
</div>