
<div class="page-header">
  <h1>{{ page.title }} {% if page.tagline %}<small>{{page.tagline}}</small>{% endif %}</h1>
  
</div>

<div class="row-fluid">
  <div class="span9">
    <div class="content">
      <div id="thumbnail">
      	{% unless page.thumbnail == empty %}
          {% assign reference_url = page.thumbnail %}
          {% unless page.comment == empty %}
            {% assign comment = page.comment %}
            {% include helpers/reference_thumbnail.html %}
          {% endunless %}
        {% endunless %}			
	 </div>
      {{ content }}
    </div>
    <hr>  
  
    <hr>
    
    <div class="pagination">
          </div>
    <hr>
    {% include JB/comments %}
  </div>
  
  <div class="span3">
      </div>
</div>